/* =========================
   BASE
========================= */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
    margin-top: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
}

address {
    font-style: normal;
}


.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
/* =========================
   LOGO
========================= */

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-web {
    color: #2e2f42;
}
.logo-web-foot {
    color: #f4f4fd;
}

/* =========================
   HEADER
========================= */
.head-main {
  border-bottom: 1px solid #e7e9fc;
  position: sticky;
  top: 0;
  background-color: #fff; 
  z-index: 999;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);;
}
.head-main .container {
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: auto auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 76px;
}

.head-menu-list {
    color: #2e2f42;
}

.head-menu {
    display: flex;
    gap: 40px;
    
    list-style: none;
    justify-content: center;
}

.navigate-btn {
    font-weight: 500;
    padding: 24px 0 24px;
    color: #2e2f42;
    position: relative;
    transition-property: color;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}
.navigate-btn:first-child {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigate-btn:hover,
.navigate-btn:focus {
    color: #404bbf;

}


.head-right {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    padding: 24px 0 24px;
}
.head-adress-list {
    display: flex;
    gap: 40px;
}
.head-adr {
    padding: 24px 0;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;

}


.head-adr:hover,
.head-adr:focus {
    color: #404bbf;
}


.navigate-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.navigate-btn:active::after {
    transform: scaleX(1);
}
/* =========================
   HELLO
========================= */


.first-page {
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ), url("../images/people-office.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: 0 auto;
}
.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto 48px;
}

.btn-order {
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    display: block;
    min-width: 169px;
    margin: auto;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order:hover,
.btn-order:focus {
    background-color: #404bbf;
}

/* =========================
   ADVANTAGES
========================= */

.sect-advant {
    padding: 120px 0;
}
.sect-advant .container {
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advant-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    max-width: 1128px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.advant-info {
    flex: 1 1 264px;
}

.adv-title-name {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    margin-bottom: 8px;
}

.adv-title-text {
    color: #434455;
}

.adv-icon-container {
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.icon {
    height: 64px;
    width: 64px;
}

/* =========================
   TEAM
========================= */

.team-page {
    background-color: #f4f4fd;
    padding: 120px 0;
    text-align: center;
}

.team-page-title {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-title-photo {
    width: 100%;
    object-fit: cover;
}
.team-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.teammate {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    width: 264px;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08);
    text-align: center;
    flex-basis: calc((100% - 3 * 24px) / 4);
}
.teammate-text {
    padding: 32px 0 32px;

}
.team-title-name {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-title-text {
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}
.team-icon-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-media-link {
    width: 40px;
    height: 40px;
    background: #4D5AE5;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link {
    fill: #F4F4FD;
}

.social-media-link:hover, .social-media-link:focus {
    background-color: #404bbf;
}
/* =========================
   PORTFOLIO
========================= */

.port-page {
    padding: 120px 0 120px;
}

.port-page-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.port-page-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    justify-content: center;
    max-width: 1128px;
    margin: auto;
}

.port-page-item {
    background: #fff;
    width: calc((100% - 48px) / 3);

}

.port-page-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
    cursor: pointer;
    transform: translateY(0%);
}

.port-page-item:first-child {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-page-image {
    width: 100%;
    object-fit: cover;
    height: auto;
}

.portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.port-page-name {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    margin-bottom: 8px;
}

.port-page-text {
    color: #434455;
}
.port-image-wrapper {
    position: relative;
    overflow: hidden;
}


.port-page-item:hover .overlay-text {
    transform: translateX(0);
    
    
}


.overlay-text {
    font-weight: 400;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* =========================
   FOOTER
========================= */

.foot-page {
    background-color: #2e2f42;
    padding: 100px 0;
}
.foot-page .logo {
    display: inline-block;
}
.foot-page .container {
    max-width: 1158px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;

}
.foot-container-copy {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 120px
}
.foot-text {
    line-height: 1.5;
    color: #f4f4fd;
    max-width: 264px;
    
}
.foot-text-social {
    margin-bottom: 16px;
}

.foot-page-container {
    display: flex;
    gap: 120px;
}
.foot-container-link {
    font-weight: 500;
    font-size: 16px; 
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.foot-container-link .team-icon-container {
    margin-top: 0;
    gap: 16px;
}
.foot-container-link .icon-link:hover, .foot-container-link .icon-link:focus {
    background-color: #31d0aa;

}