body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


.head-main {
    background-color: #ffffff;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.logo-web {
    color: #4d5ae5;
}
.logo-web-foot {
    color: #f4f4fd;
}

.head-menu a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.head-menu a:hover, .head-menu a:focus {
    color: #4d5ae5;
} 

.head-adress a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms ease;
    font-style: normal;
}

.head-adress a:hover, .head-adress a:focus {
    color: #4d5ae5;
}

.first-page {

}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.btn-order {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;;
    

}
.btn-order:focus, .btn-order:active, .btn-order:hover {
    background: #404bbf;
}


.sect-advant {
    background-color: #FFFFFF;
}
.sect-advant h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.sect-advant p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;

}


.team-page {
    background-color: #f4f4fd;
}

.team-ul h3 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-ul p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.port-page {
    background: #fff;
}

.port-page h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.port-page p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;

}

.foot-page{
    background-color: #2e2f42;
}

.foot-page p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}