body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}
address {
    font-style: normal;
}


.head-main {
    background-color: #ffffff;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    line-height: 1.17;
}

.logo-web {
    color: #2e2f42;
}
.logo-web-foot {
    color: #f4f4fd;
}

.head-menu a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.navigate-btn:hover, .navigate-btn:focus, .navigate-btn:active {
    color: #404bbf;
}

.head-adress a {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.head-adr:hover, .head-adr:focus{
    color: #404bbf;
}


.first-page {
    background-color: #2e2f42;

}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;

}

.btn-order {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
}
.btn-order:focus, .btn-order:active, .btn-order:hover {
    background: #404bbf;
}


.sect-advant {
    background-color: #FFFFFF;
}

.adv-title-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.adv-title-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;

}


.team-page {
    background-color: #f4f4fd;
}
.team-page-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.teammate {
    background-color: #FFFFFF;

}



.port-page {
    background: #fff;
}

.port-page h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.port-page p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;

}

.foot-page{
    background-color: #2e2f42;
}

.foot-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}